---
---

// DEVICE LIST //
$xs-min: "only screen and (min-width:none)";
$xs-max: "only screen and (max-width:520px)";
$xs-sm: "only screen (min-width: none) and (max-width:767px)";

$sm-min: "only screen and (min-width:768px)";
$sm-max: "only screen and (max-width:991px)";
$sm-md: "only screen (min-width: 768px) and (max-width:991px)";

$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "only screen (min-width: 992px) and (max-width:1199px)";

$lg-min: "only screen and (min-width:1200px)";
$lg-max: "only screen and (max-width:none)";

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

.txt-xlg {
    font-size: 70px;
}

.txt-lg {
    font-size: 35px;
}

.txt-md {
    font-size: 25px;
}

.txt-sm {
    font-size: 18px;
}

.top-level {
    background-color: #fff;
}

.ja-header {
    color: #444;
    width: 100%;
    margin: 0px !important;
    padding-top: 8em;
    padding-bottom: 8em;
    text-align: center;
}

.name {
    font-weight: 500;
    color: #37CAE1;
}

.screenshot-container {
    text-align: center;
    margin-top: -50px;
    .screenshot {
        transition: color .1s ease;
        transition-property: color,background-color,box-shadow,transform;
        transition-duration: .15s;  
        @include box-shadow(0, 3px, 13px, rgba(0, 0, 0, 0.15));
        width: 350px;
        cursor: pointer;
    }
    .screenshot:hover {
        @include box-shadow(0, 5px, 16px, rgba(0, 0, 0, 0.15));
        width: 350px;
        transform: translateY(-3px);
    }
}


.proj-title {
    color: #444;
    text-align: center;
    padding-top: 1em;
}

.link {
    color: #FF65B6;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: #FF65B6;
}

.proj-description {
    color: #666;
    padding-top: 1em;
    text-align: center;
}

.description-text {
    margin: auto;
    max-width: 400px !important;
    margin-bottom: 4em;
}

body {
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
    margin:0px;
    padding: 0px;
    background-color: #F4F7F8 !important;
}

@media #{$sm-max} { 
    .txt-xlg {
    font-size: 50px;
    }

    .txt-lg {
        font-size: 25px;
    }

    .txt-md {
        font-size: 20px;
    }
}