<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>joshandre.ws</title>
  <meta name="description" content="Josh Andrews">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="joshandre.ws" href="/feed.xml">
  
  
</head>


  <body>
    <div class="top-level">
        <div class="container">
            <div class="row ja-header">
                <div class="col">
                <span class="first-line">Hi, I'm <span class="name">Josh</span></span><br />
                <span class="body-line">I'm building this thing called Spare Labs!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col screenshot-container">
                <a href="http://sparelabs.com"><img class="screenshot" src="img/spare-labs.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col proj-title">
            Spare Labs
            </div>
        </div>
        <div class="row">
            <div class="col proj-description">
                <div class="description-text">
                    We’re making transit technology a whole lot smarter - launching soon in a few <a class="link" href="http://globalnews.ca/news/3428537/translinks-future-may-involve-on-demand-vehicles/">towns</a> you may have heard of.
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
