<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>joshandre.ws</title>
  <meta name="description" content="Josh Andrews">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="joshandre.ws" href="/feed.xml">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51520436-1', 'auto');
    ga('send', 'pageview');
  </script>
  
</head>


  <body>
    <div class="top-level">
        <div class="container">
            <div class="row ja-header">
                <div class="col">
                <span class="first-line txt-xlg">Hi, I'm <span class="name">Josh</span></span><br />
                <span class="body-line txt-lg">I spend my time building the future of transportation, running, and occasionally dabble in autonomous sailboats.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col screenshot-container">
                <a href="http://sparelabs.com"><img class="screenshot" src="img/spare-labs.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col proj-title txt-lg">
            Spare
            </div>
        </div>
        <div class="row">
            <div class="col proj-description">
                <div class="description-text txt-md">
                    We’re making transit technology a whole lot smarter.
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
